@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Russo+One&display=swap');


li {
  list-style: none
}

* {
	margin: 0;
	padding: 0;
	border: 0;
}
ol, ul {
	list-style: none;
}

a{
	text-decoration: none;
	color: white
}

p {
	line-height: 21px;
}
/* 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, p,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





p {
	line-height: 130%;
} */

.App {
	position: relative
}

::-webkit-scrollbar {
  width: 10px;
	border-radius: 10px;	
}

::-webkit-scrollbar-track {
  background: #303841;
}

::-webkit-scrollbar-thumb {
  background: #DE2D35;
}

::-webkit-scrollbar-thumb:hover {
  background: #e94e4e;
}

.app__grid {
	display: grid;
	grid-template-columns: 0.45fr 1.8fr 0.75fr;
	gap: 30px;

	padding-top: 20px;
}

.main {
  width: 100%;
  min-height: calc(100vh - 90px);
  background-color: #191B1F;
  color: white;

  margin-top: -90px;
  padding-top: 90px;

  font-family: 'Inter';
}

.container {
	width: 90%;
	margin: auto;
	max-width: 1300px
}