.post-view {
  max-width: 100%;
}

.post-view__col {
  position: sticky;
  top: 100px;
  height: min-content;
}

.post-view__button {
  padding: 10px 20px;
  background-color: #DE2D35;
  color: white;
  font-weight: 600;
  font-size: 0.9rem;
  border-radius: 5px;
  cursor: pointer;
}

.post-view__comment {
  background-color: #22262B;
  padding: 15px 0;
  border-radius: 5px;
  margin-bottom: 20px;
}

.post-view__container {
  width: 95%;
  margin: auto;
}

.post-view__comment-title {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.post-view__comments-title {
  font-size: 1.2rem;
}

.post-view__textarea {
  width: calc(100% - 20px);
  background-color: #303841;
  border-radius: 5px;
  height: 100px;
  border: 1px;
  padding: 10px 10px;
  color: white;
  font-family: Inter;
  font-size: 0.95rem;
  resize: none;
}

.post-view__textarea:focus {
  outline: none;
}

.post-view__textarea::placeholder {
  color: #cbccce;
  font-size: 1.3px #DE2D35;
}

.post-view__comment-submit {
  width: 100%;
  padding: 10px 0;
  border-radius: 5px;
  margin: 5px 0 0 0;
  font-size: 0.9rem;
  text-transform: uppercase;
  background-color: #303841;
  color: white;
  font-weight: 500;
}
