@import '../../styles/variables';
@import '../../styles/variables';

.post-view {
  max-width: 100%;

  &__button {
    padding: 10px 20px;
    background-color: $highlight;
    color: white;

    font-weight: 600;
    font-size: 0.9rem;

    border-radius: 5px;

    cursor: pointer
  }

  &__comment {
    background-color: $darkThemeForeground;
    padding: 15px 0 ;
    border-radius: 5px;
    margin-bottom: 20px;
  }

  &__container {
    width: 95%;
    margin: auto;
  }

  &__comment-title {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }

  &__comments-title {
    font-size: 1.2rem;
    // margin-bottom: 20px;
  }

  &__textarea {
    width: calc(100% - 20px);
    background-color: $lightGray;
    border-radius: 5px;
    height: 100px;
    border: 1px;

    padding: 10px 10px;
    color: white;
    font-family: $primaryFont;
    font-size: 0.95rem;

    resize: none;


    &:focus {
      outline: none;
    }

    &::placeholder {
      color: #cbccce;
      font-size: 1.3px $highlight
    }
  }

  &__comment-submit {
    width: 100%;
    padding: 10px 0;
    border-radius: 5px;
    margin: 5px 0 0 0;  

    font-size: 0.9rem;
    text-transform: uppercase;
    background-color: $lightGray;
    color: white;
    font-weight: 500
  }

}